DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/postgres"
JWT_ACCESS_TOKEN_TTL="3600"
JWT_REFRESH_TOKEN_TTL="259200"
JWT_SECRET="super-secret-development-key"
PORT="3000"
COOKIE_DOMAIN="localhost"
